@font-face {
    font-family: "Inter";
    src: url("../font/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__title {
    margin-bottom: 8px;
    text-align: center;
    font-size: calc(1.3rem + .6vw);
}

.todo__form {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
}

.form__input {
    max-width: 207px;
}

.form__submit {
    max-width: 109px;
}

.todo__table-wrapper {
    min-width: 464px;
}

.text-crossed-out {
    text-decoration: line-through;
}

.modal__text{
    color: darkred;
}

#userEnterModal{
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, .5);
}

#modal-dialog{
    top: 150px;
}

