@font-face {
    font-family: "Inter";
    src: url("../font/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

body{
    position: relative;
}

.todo {
    max-width: var(--appContainer-Width);
    left: calc(50% - var(--appContainer-Width) / 2);
    top: 35%;
    position: absolute;
    text-align: center;
}

.todo__title {
    margin-bottom: 8px;
    text-align: center;
    font-size: calc(1.3rem + .6vw);
}

.todo__form {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
}

.form__input {
    max-width: 207px;
}

.form__submit {
    max-width: 109px;
}

.todo__table-wrapper {
    min-width: 464px;
}

.text-crossed-out {
    text-decoration: line-through;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.modal-form {
    min-width: var(--modal-form);
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: calc(50% - var(--modal-form) / 2);
    /*color: #212529;*/
}

.form__header,
.form__body,
.form__footer{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.form__header{
    justify-content: space-between;
}

.form__footer{
    border-bottom: 0;
    justify-content: center;
    align-items: center;
}

.form__body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.form__close{
    background-image: url("../img/del.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    opacity: .8;
}

.form__message{
    min-width: 207px;
    min-height: 20px;
}

.modal__text {
    color: darkred;
}